.box1 {
    width: 60%;
    border: 5px #3300ff solid;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 30px;

}
.container{
    display: flex;
}



@media (max-width: 600px) {
    .container{
        flex-direction: column;
        
    }
  }